// Import additional stylesheets
@forward "reset";
@forward "themes";
@use "functions" as func;

// Import font families
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

// Global styles
a {
  color: var(--text);
  text-decoration: underline;
  transition: color var(--animation-speed) ease-in;

  &:hover {
    color: var(--text-hover);
  }
}

body {
  background-attachment: fixed;
  background-color: var(--background);
  background-image: url("data:image/svg+xml,<svg id='hexagons' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='59.428' patternTransform='scale(2) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M0 70.975V47.881m20-1.692L8.535 52.808v13.239L20 72.667l11.465-6.62V52.808zm0-32.95l11.465-6.62V-6.619L20-13.24 8.535-6.619V6.619L20 13.24m8.535 4.927v13.238L40 38.024l11.465-6.62V18.166L40 11.546zM20 36.333L0 47.88m0 0v23.094m0 0l20 11.548 20-11.548V47.88m0 0L20 36.333m0 0l20 11.549M0 11.547l-11.465 6.619v13.239L0 38.025l11.465-6.62v-13.24L0 11.548v-23.094l20-11.547 20 11.547v23.094M20 36.333V13.24'  stroke-linecap='square' stroke-width='1' stroke='hsla(0, 0%, 39%, 0.3)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-42,-51.712)' fill='url(%23a)'/></svg>");
  color: var(--text);
  font-family: "Titillium Web", sans-serif;
  font-size: 24px;
  transition: background-color var(--animation-speed) ease-in, color var(--animation-speed) ease-in;
}

button {
  background-color: var(--button);
  border: 0.125rem solid var(--button-hover);
  border-radius: 0.25rem;
  color: var(--text-inverse);
  outline: 0;
  padding: 0.25rem;
  transition: background-color var(--animation-speed) ease-in, color var(--animation-speed) ease-in;

  &:hover,
  &[data-state="open"] {
    background-color: var(--button-hover);
    cursor: pointer;
  }

  &:focus {
    background-color: var(--button-hover);
    box-shadow: func.alpha(var(--button), 50%) 0 0 0 0.25rem;
  }
}

hr {
  border-color: func.darken(var(--background-dim), 50%);
  border-style: dotted;
  border-width: 2px 0 0;
  display: block;
  height: 1px;
  margin-bottom: 0.25rem;
  margin-inline: 2rem;
  margin-top: 1rem;
  transition: border-color var(--animation-speed) ease-in;
}

// Specific global classes
.body-container {
  container-name: bodyContainer;
  container-type: inline-size;
  padding: 1rem 0;
}

.card {
  background-color: var(--background-dim);
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem func.darken(var(--background-dim), 25%);
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 0.5rem;
  margin: auto;
  padding: 1rem;
  transition: background-color var(--animation-speed) ease-in, box-shadow var(--animation-speed) ease-in;
  width: 95%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.margin-top {
  margin-top: 0.5rem;
}

.switcher {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.switch-center {
  align-items: center;
  justify-content: flex-start;
}

// Remove animations if system prefers reduced motion or manually disabled
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

// Make any style changes based on container size
@container bodyContainer (min-width: 512px) {
  .card {
    width: 80%;
  }

  .switcher {
    flex-direction: row;
  }

  .switch-center {
    align-items: flex-start;
    justify-content: center;
  }
}